.panels-flexible-column-105-4 {
  float: left;
  width: 26.98106023%;
}

.panels-flexible-column-105-1 {
  float: left;
  width: 72.01893977%;
}

.panel-flexible-105-inside {
  padding-left: 0px;
  padding-right: 0px;
}

.panels-flexible-region-105-summary_blocks {
  float: left;
  width: 99%;
}

.panels-flexible-row-105-6-inside {
  padding-left: 0px;
  padding-right: 0px;
}

.panels-flexible-region-105-notifications {
  float: left;
  width: 99%;
}

.panels-flexible-row-105-2-inside {
  padding-left: 0px;
  padding-right: 0px;
}

