.panels-flexible-column-85-main {
  float: left;
  width: 99%;
}

.panel-flexible-85-inside {
  padding-left: 0px;
  padding-right: 0px;
}

.panels-flexible-column-85-4 {
  float: left;
  width: 74.1440346575%;
}

.panels-flexible-column-85-3 {
  float: left;
  width: 24.8559653425%;
}

.panels-flexible-row-85-1-inside {
  padding-left: 0px;
  padding-right: 0px;
}

.panels-flexible-region-85-need_to_know {
  float: left;
  width: 99%;
}

.panels-flexible-row-85-5-inside {
  padding-left: 0px;
  padding-right: 0px;
}

.panels-flexible-region-85-groups {
  float: left;
  width: 99%;
}

.panels-flexible-row-85-6-inside {
  padding-left: 0px;
  padding-right: 0px;
}

