.panels-flexible-column-17-main {
  float: left;
  width: 99%;
}

.panel-flexible-17-inside {
  padding-left: 0px;
  padding-right: 0px;
}

.panels-flexible-region-17-center {
  float: left;
  width: 99%;
}

.panels-flexible-row-17-main-row-inside {
  padding-left: 0px;
  padding-right: 0px;
}

