.panels-flexible-column-55-main {
  float: left;
  width: 99%;
}

.panel-flexible-55-inside {
  padding-left: 0px;
  padding-right: 0px;
}

.panels-flexible-region-55-left_side {
  float: left;
  width: 26.9834437086%;
}

.panels-flexible-region-55-right_side {
  float: left;
  width: 72.0165562914%;
}

.panels-flexible-row-55-1-inside {
  padding-left: 0px;
  padding-right: 0px;
}

