.panels-flexible-column-43-main {
  float: left;
  width: 99%;
}

.panel-flexible-43-inside {
  padding-left: 0px;
  padding-right: 0px;
}

.panels-flexible-column-43-4 {
  float: left;
  width: 74.1440346575%;
}

.panels-flexible-column-43-3 {
  float: left;
  width: 24.8559653425%;
}

.panels-flexible-row-43-1-inside {
  padding-left: 0px;
  padding-right: 0px;
}

.panels-flexible-region-43-need_to_know {
  float: left;
  width: 99%;
}

.panels-flexible-row-43-5-inside {
  padding-left: 0px;
  padding-right: 0px;
}

.panels-flexible-region-43-groups {
  float: left;
  width: 99%;
}

.panels-flexible-row-43-6-inside {
  padding-left: 0px;
  padding-right: 0px;
}

